.admin {
  position: relative;
  .content {
    @include dynamicPositionAbsolute(
      $left: 50%,
      $top: 50%,
      $transform: translate(-50%, -50%)
    );
    @include dynamicAlign($gap: 10rem);

    .dragon {
      &_form {
        background: #fff;
        padding: 2rem;
        font-size: 1.6rem;
        border-radius: 1rem;
        width: 50rem;
        @include dynamicAlign($direction: column, $gap: 2rem);
        h1 {
          font-size: 2rem;
          color: #994c00;
        }
        .group {
          width: 100%;
          p {
            margin-bottom: 0.5rem;
          }

          input,
          select {
            width: 100%;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            border: 0.1rem solid gray;
            font-size: 1.6rem;
            width: 100%;
            outline: none;
            color: #994c00;
          }
        }
        button {
          padding: 1rem 2rem;
          background: #994c00;
          color: #fff;
          border-radius: 0.5rem;
          transition: 0.3s ease;
          font-size: 1.6rem;
          border: none;
          &:hover {
            background: #9e540a;
          }
        }
      }
    }

    .list_dragon {
      background: #fff;
      padding: 1rem;
      width: 60rem;
      border-radius: 1rem;
      font-size: 1.6rem;
      h1 {
        font-size: 2rem;
        color: #994c00;
      }
      .dragon_card {
        @include gridSystem($column: 5);
        margin-top: 1rem;
        text-align: center;
      }
    }
  }
}
