.home {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  position: relative;
  .touch {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all 0.5s ease;
    @include dynamicAlign($direction: column, $align: center);
    font-size: 1.6rem;
    z-index: 2;
    img {
      pointer-events: none;
    }
    &.fade {
      //   left: -50%;
      opacity: 0;
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s ease;
    &.active {
      opacity: 1;
    }
  }
}
